<h1>Welcome, <%= @user.email %>!</h1>
<br>

<%= link_to "Add a New Band", new_band_url, method: :get %>
<br>
<%= link_to "Add a New Album", new_album_url, method: :get %>
<br>
<%= link_to "Add a New Track", new_track_url, method: :get %>
